server:
  port: 8085

twilio:
  account-sid: ${TWILIO_ACCOUNT_SID}
  auth-token: ${TWILIO_AUTH_TOKEN}
  phone-number: ${TWILIO_PHONE_NUMBER}

otp:
  expiration-minutes: 10
  code-length: 6

spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
    default-property-inclusion: non_null
    date-format: yyyy-MM-dd'T'HH:mm:ss
    time-zone: UTC
  config:
    import:
      - "classpath:config/minio.yml"
      - "classpath:config/stripe.yml"
      - "classpath:config/redis.yml"
      - "classpath:config/mysql.yml"
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid, profile, email
          facebook:
            client-id: ${FACEBOOK_APP_ID}
            client-secret: ${FACEBOOK_APP_SECRET}
            scope: email, public_profile

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    default-encoding: UTF-8

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

app:
  sms:
    provider: twilio
    twilio:
      account-sid: ${TWILIO_ACCOUNT_SID}
      auth-token: ${TWILIO_AUTH_TOKEN}
      phone-number: ${TWILIO_PHONE_NUMBER}
  mindee:
    api-key: ${MINDEE_API_KEY}
    model-id: ${MINDEE_MODEL_ID}

  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}
    allowed-methods: "*"
    allowed-headers: "*"
    allow-credentials: true
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      expiration-ms: 3600000
      claims:
        enabled-claims: "id,email,username,enabled,roles"
        audit-claims: "id,email,username,issuedAt,expiration,roles"
    roles:
      ${ROLES:CLIENT,ADMIN,BARBER}
    endpoints:
      permitAll:
        - "/**" # A ajuster selon tes besoins
logging:
  level:
    com.halaq.backend: DEBUG